<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>카피 프로젝트 소개</title>
</head>

<body>
    <h1>카피 (병어 자동 분류 프로그램)</h1>
    <img src='../imgs/copy_proj/<%=data.fileName_1%>'>
    <img src='../imgs/copy_proj/<%=data.fileName_2%>'>
    <img src='../imgs/copy_proj/<%=data.fileName_3%>'>
    <img src='../imgs/copy_proj/<%=data.fileName_4%>'>
    <img src='../imgs/copy_proj/<%=data.fileName_5%>'>
    <img src='../imgs/copy_proj/<%=data.fileName_6%>'>
    <img src='../imgs/copy_proj/<%=data.fileName_7%>'>
    <img src='../imgs/copy_proj/<%=data.fileName_8%>'>
    <img src='../imgs/copy_proj/<%=data.fileName_9%>'>
    <img src='../imgs/copy_proj/<%=data.fileName_10%>'>
    <img src='../imgs/copy_proj/<%=data.fileName_11%>'>
    <img src='../imgs/copy_proj/<%=data.fileName_12%>'>
    <img src='../imgs/copy_proj/<%=data.fileName_13%>'>
    <img src='../imgs/copy_proj/<%=data.fileName_14%>'>
    <img src='../imgs/copy_proj/<%=data.fileName_15%>'>

    <script>
    </script>
</body>

</html>